* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        margin-bottom: 2rem;
        font-size: 1.75rem;
    }

    #form {
        // max-width: 600px;
        margin: auto;
        padding: 2rem;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        background-color: rgb(102, 190, 30);
        font-size: 1.5rem;

        #kindOfVehicle, .distance input {
            height: 2.5rem;
            padding: 0 1rem;
            font-size: 1.5rem;
            border: none;
            border-radius: 1.5rem;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }

        .distance {
            // width: 100%;
            font-size: 1.5rem;

            input {
                width: 15rem;
            }
        }

        #pickUp {
            height: 1.5rem;
            width: 1.5rem;
        }
        
        #submit {
            width: 30%;
            font-size: 1.5rem;
            align-self: center;
        }
    }

    table, tr {
        margin: 2rem auto;
        font-size: 1.5rem;
        border-bottom: 1px solid #000;
        border-collapse: collapse;

        th, td {
            padding: 1rem;
        }

        th { background-color: rgb(102, 190, 30); }

        .centered { text-align: center; }
        .rightAlign { text-align: right;}
    }

    .buttonsSection {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    #contractSum, #clearBill {
        height: 2.5rem;
        padding: 0 1rem;
        align-self: center;
        font-size: 1.5rem;
        border: none;
        border-radius: 1rem;
    }

    #clearBill {
        background-color: #d22;
        color: #fff;
    }
}
