#mainPage {

    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 15rem auto;
    grid-template-areas: 
        "header_ header_"
        "menu_ section_";

    header {
        padding: 1rem;
        color: #fff;
        background-color:  #2244cc;
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-area: header_;
        
        h1, p { text-align: center; }

        h1 { width: 90%; }

        p { width: 10%; }
    }

    nav {
        // padding: 0 1rem;
        color: #fff;
        background-color: #6688ff;
        font-size: 1.6rem;
        grid-area: menu_;

        ul{
            padding: 1rem;
            display: flex;
            flex-direction: column;
            list-style-type: none;

            li {
                padding: 1rem;
                border-radius: 1rem;

                &:hover {
                    background-color: #3366dd;
                    font-weight: 900;
                }
            }
        }
    }

    .Personnel {
        padding: 3rem;
        display: none;
        flex-direction: column;
        gap: 2rem;
        grid-area: section_;
        
        h2 {
            text-align: center;
            font-size: 2rem;
        }

        button {
            align-self: center;
            width: 10%;
        }

        table {
            align-self: center;
            border-collapse: collapse;
            font-size: 1.25rem;

            .centered { text-align: center; }
            .left-aligned { text-align: end;}

            #tableHeader {
                #Sel {width: 30px;}
                #Name {width: 250px;}
                #ID {width: 150px;}
                #Role {width: 150px;}
                #State {width: 100px;}

                th {
                    width: 300px;
                    padding: 0.5rem 1rem;
                    color: #fff;
                    background-color: #2244cc;
                }

            }

            td {
                padding: 0.5rem 1rem;
                font-size: 1.2rem;
            }
        }        
    }

    .Contracts {
        display: none;
        grid-area: section_;
        flex-direction: column;
    
        #form {
            // max-width: 600px;
            margin: 2rem;
            padding: 2rem;
            border-radius: 1.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            color: #fff;
            background-color: #2244cc;
            font-size: 1.5rem;
    
            #kindOfVehicle, .distance input {
                height: 2.5rem;
                padding: 0 1rem;
                font-size: 1.5rem;
                border: none;
                border-radius: 1.5rem;
            }
    
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
            }
    
            .distance {
                // width: 100%;
                font-size: 1.5rem;
    
                input {
                    width: 15rem;
                }
            }
    
            #pickUp {
                height: 1.5rem;
                width: 1.5rem;
            }
            
            #submit {
                width: 30%;
                font-size: 1.5rem;
                align-self: center;
            }
        }
    
        table, tr {
            margin: 2rem auto;
            font-size: 1.5rem;
            border-bottom: 1px solid #000;
            border-collapse: collapse;
    
            th, td {
                padding: 1rem;
            }
    
            th { 
                color: #fff;
                background-color: #2244cc }
    
            .centered { text-align: center; }
            .rightAlign { text-align: right;}
        }
    
        .buttonsSection {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    
        #contractSum, #clearBill {
            height: 2.5rem;
            padding: 0 1rem;
            align-self: center;
            font-size: 1.5rem;
            border: none;
            border-radius: 1rem;
        }
    
        #clearBill {
            background-color: #d22;
            color: #fff;
        }
    }

    .emergentToast {
        font-size: 1.5rem;
        background: linear-gradient(#2244cc, #5577dd);
    }
    
}